<nav class="header">
  <div class="container">
    {{link-to 'Mark Oleson' 'index' class="logo"}}

    <ul>
      <li>{{link-to 'About' 'about'}}</li>
      <li>{{link-to 'Blog' 'blog'}}</li>
    </ul>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
